nav {
  ul {
    column-gap: 1.4rem;
  }
  li {
    a {
      font-size: 1rem !important;
      color: $dark-grayish-blue !important;

      &:hover {
        color: $soft-red !important;
      }
    }
  }
}
