@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    font: {
        size: $font-size-body;
        family: $font-family;
    }
    
    padding-top: 2rem;
    max-height: 100vh;
}